/* Your custom styles */


/* Required for full background image */

html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 100vh;
    }
}

.parallax-e{
    background-image: url(../../imgIndex/compu1-min.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #26ccca !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #26ccca !important;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #26ccca !important;
    }
}

h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

.contenedor {
    width: 100%;
    /* height: 100px; */
    background: #444;
}

.hijo1 {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: calc(10px + 4vw);
    font-weight: bold;
    color: #26ccca;
    /* line-height: 80px; */
    /* padding-left: 80px; */
    padding-top: 10px;
    text-align: center;
    /* align-content: center; */
    letter-spacing: 3px;
}

.creatividad {
    color: #26ccca;
    font-weight: bold;
}

.blue {
    background-color: aquamarine;
}

.jose {
    background: #444;
}

.river {
    color: #3b5998;
}

.boca {
    color: #007bb5;
}

.independiente {
    color: #dd4b39;
}

.rosario {
    color: #00bf8f;
}

.seguir {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.redes {
    display: flex;
}

.packer {
    margin: auto;
}

.foto1 {
    padding-bottom: 35px;
}

.foto2 {
    padding-bottom: 15px;
}

.foto3 {
    padding-top: 15px;
}

.titulo2 {
    color: #ff1493;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}

.que-hacemos{
    background-color: #ffffff;
    background-image: url(../../imgIndex/quehacemos.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;

}

@media (max-width: 768px) {
    #hrBar {
        display: none;
    }
    .portada1 {
        padding-bottom: 80px;
    }
}

.portada1 {
    font-family: 'Dosis', sans-serif;
    font-size: calc(10px + 1vw);
    font-weight: bold;
    height: 80px;
}

.portada2 {
    font-family: 'Oswald', sans-serif;
    font-size: calc(50px + 4vw);
    font-weight: bold;
    color: #ffef3c;
    height: 30px;
}

.portada21 {
    font-family: 'Oswald', sans-serif;
    font-size: calc(60px + 4vw);
    font-weight: bold;
    color: deeppink;
    height: 30px;
}

.portada3 {
    font-family: 'Oswald', sans-serif;
    font-size: calc(40px + 5.8vw);
    font-weight: bold;
    text-align: center;
}

.uña {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.dedo {
    background-color: #ffef3c;
    background-image: url(../../imgIndex/nosotros.png);
    background-repeat: no-repeat;
    background-size: 67%;
    background-position-y: center;
    position: relative;
}

@media (max-width: 768px) {
    .dedo {
        background-size: 140%;
        background-position-y: 0%;
        padding-left: 30px;
    }
    
}

.cuticula {
    background: #444;
}

.pie {
    padding-top: 15px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 60px;
}

.sociales {
    font-family: 'Oswald', sans-serif;
    color: #ffef3c;
    font-size: 60px;
    font-weight: bold;
}

.sapo {
    font-family: 'Oswald', sans-serif;
    color: #26ccca;
    font-size: 60px;
    font-weight: bold;
}

.are-you-ready{
    background-color: #ffffff;
    background-image: url(../../imgIndex/areyouready.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

.community {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
}

.pablo {
    width: 95%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}

.lilita {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 10vw;
}

.menem {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 10vw;
}

.pregunta {
    font-weight: bold;
    color: deeppink;
}

.diferencia {
    background: #444;
}

.empezamos {
    color: #ffef3c;
}

.imgShadowStrong {
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
}




/* STYLE HTML SERVICIOS */

.parallax-e-services{
    background-image: url(../../imgServicios/ourplans3-min.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.diseño-grafico{
    background-color: #ffffff;
    background-image: url(../../imgIndex/diseño-grafico2.png);
    background-repeat: no-repeat;
    background-size: calc(100px + 1vw);
    background-position-x: left;
    background-position-y: 80%;
}

@media (max-width: 1200px) {
    .diseño-grafico {
        background-color: #ffffff;
        background-image: url(../../imgIndex/diseño-grafico.png);
        background-position: top;
        background-size: 115%;
        background-repeat: no-repeat;
        margin-top: 0;
        padding-top: 8vw;
    }
    
}

.tituloblog {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}
.rod {
    color: #26ccca;
}
.introblog {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.tituloblog2 {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #a9b500;
}
@media (max-width: 990px){
    .flexCont {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .flexItem2 {
        margin-top: 15px;
    }
}
.imgShadow {
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.445);
}

.imgShadow2 {
    box-shadow: -10px 5px 30px rgba(0, 0, 0, 0.445);
}
